<ips:template parameters="$request" />
<h2 class='ipsType_sectionTitle ipsType_reset'>{lang="support_info_customer"}</h2>
<div class='ipsPad ipsAreaBackground ipsSpacer_bottom'>
    <div class="ipsAreaBackground_reset ipsPad ipsSpacer_bottom">
        <div class='ipsType_center'>
        </div>
    </div>
</div>