<ips:template parameters="$chart,$ver,$news" />
<div class="ipsGrid ipsGrid_collapseTablet">
    <div class="ipsGrid_span8" data-role="mainerColumn">
        <ol class="ipsList_reset" data-role="mainColumn">
            <li>
                <div class="ipsAreaBackground_light">
                    <h2 class="ipsType_sectionTitle ipsType_reset ipsTruncate ipsTruncate_line">
                        {lang="froggy_news_block"}
                    </h2>
                    <div class="ipsPad" data-role="widgetContent" style="height: auto;">
                        {{foreach $news as $k => $v}}
                            {{if isset($v['url'])}}
                                <div>
                                    <a href="{$v['url']}" title="{$v['title']}">
                                        {$v['title']}
                                    </a>
                                </div>
                            {{else}}
                                <span>{$v['title']}</span>
                            {{endif}}
                        {{endforeach}}
                    </div>
                </div>
            </li>
            <li>
                <div class="ipsAreaBackground_light">
                    <h2 class="ipsType_sectionTitle ipsType_reset ipsTruncate ipsTruncate_line">
                        {lang="froggy_summary_block"}
                    </h2>
                    <div class="ipsPad" data-role="widgetContent" style="height: auto;">
                        {$chart|raw}
                    </div>
                </div>
            </li>

        </ol>
    </div>
    <div class="ipsGrid_span4 acpWidget_sidebar">
        <ol class="ipsList_reset ui-sortable" data-role="sideColumn">
            <li data-widgetkey="core_AdminNotes" data-widgetname="Admin Notes">
                <div class="ipsAreaBackground_light">
                    <h2 class="ipsType_sectionTitle ipsType_reset ipsTruncate ipsTruncate_line">
                    {lang="froggy_versions_block"}
                    </h2>
                    <div class="ipsPad">
                        <div>
                            {lang="froggy_versions_block_ver"} {$ver}
                        </div>
                        <div>
                            {{if \IPS\froggy\Functions::versionCheck()}}
                                <i class="fa fa-check-circle-o"></i> {lang="froggy_update_avail"}
                            {{else}}
                                <i class="fa fa-close"></i> {lang="froggy_update_no_avail"}
                            {{endif}}
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>