<ips:template parameters="$table, $headers, $rows" />
{{if empty( $rows )}}
	<tr>
		<td colspan="{expression="count( $headers )"}">
			<div class='ipsPad_double ipsType_light'>
				{lang="no_results"}
				{{if ( isset( $table->rootButtons['add'] ) )}}
					&nbsp;&nbsp;
					<a 
						{{if isset( $table->rootButtons['add']['link'] )}}href='{$table->rootButtons['add']['link']}'{{endif}}
						title='{lang="$table->rootButtons['add']['title']"}'
						class='ipsButton ipsButton_alternate ipsButton_small {{if isset( $table->rootButtons['add']['class'] )}}{$table->rootButtons['add']['class']}{{endif}}'
						role="button"
						{{if isset( $table->rootButtons['add']['data'] )}}
							{{foreach $table->rootButtons['add']['data'] as $k => $v}}
								data-{$k}="{$v}"
							{{endforeach}}
						{{endif}}
						{{if isset( $table->rootButtons['add']['hotkey'] )}}
							data-keyAction='{$table->rootButtons['add']['hotkey']}'
						{{endif}}
					>{lang="$table->rootButtons['add']['title']"}</a>
				{{endif}}
			</div>
		</td>
	</tr>
{{else}}
	{{foreach $rows as $r}}
		<tr class='ipsClearfix froggy_{$r['purchases_type']['class']}' style="background-color:{$r['purchases_type']['style']};" data-keyNavBlock>
			{{foreach $r as $k => $v}}
				<td class='{{if $k === 'photo'}}ipsTable_icon{{endif}} {{if $k === $table->mainColumn}}ipsTable_primary ipsType_break{{endif}} {{if $k === '_buttons'}}ipsTable_controls{{endif}}' {{if $k !== $table->mainColumn && $k !== '_buttons' && $k !== 'photo'}}data-title="{lang="{$table->langPrefix}{$k}"}"{{endif}}>
					{{if $k === '_buttons'}}
						{template="controlStrip" params="$v" group="global" app="core"}
                    {{elseif is_array($v)}}
                        {$v['name']}
					{{else}}
						{$v|raw}
					{{endif}}
				</td>
			{{endforeach}}
		</tr>
	{{endforeach}}
{{endif}}